---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Diseño de componentes" description="Catalogo de componentes del portfolio">
    <SectionContainer>
        <article>
            <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>
        </article>

    </SectionContainer>

</Layout>