---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BirefCase from "../components/icons/BirefCase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Santi from "../components/Santi.astro";
import UserIcon from "../components/icons/User.astro";
---

<Layout 
	title="Portfolio santiDev - Desarrollador y programador web"
	description="La pasion por crear soluciones para tu dia a dia"
	>
	<main class="px-4">
		<SectionContainer class="py-10 pb:10 md:py-30 md:pb-20">
			<Santi />
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl text-gray-100 md:text-3xl font-bold mb-6 flex gap-x-3 items-center">
				<BirefCase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl md:text-3xl font-bold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-2xl text-gray-100 md:text-3xl font-bold mb-6 flex gap-x-3 items-center">
				<UserIcon class="size-7" />
				Sobre Mi
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>

