---
const personalImageAlt = "Santiago Sordi";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-opacity-70 text-gray-100 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-600 dark:[&>p>strong]:text-sky-100[&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Después de formar parte del equipo de testing y desarrollo en Zurich Insurance, donde participé en la implementación de un nuevo software de gestión, <strong>descubrí algo que en mi cambió: la satisfacción de crear soluciones digitales que realmente faciliten la vida a los clientes.</strong> Este proyecto fue el punto de partida de mi carrera como Full Stack Developer, un camino que me ha apasionado desde entonces. Me formé en el stack MERN, y mi capacidad de aprendizaje, junto con mi curiosidad natural, han sido esenciales para adaptarme y crecer en el mundo de la tecnología.
    </p>
    <p>Actualmente en Eleven Solutions, aplico estos conocimientos en <strong>herramientas como Next.js, ReactJS y Node.js para desarrollar aplicaciones escalables y centradas en el usuario. Colaboro de cerca con el equipo en metodologías ágiles,</strong>   participando en la planificación y ejecución de sprints, y busco siempre aportar a la mejora continua del equipo. He tenido la oportunidad de crear interfaces intuitivas que mejoran la experiencia del usuario y de ayudar al equipo con revisiones de código y estimaciones de esfuerzo. Como freelance, trabajé en proyectos personalizados, creando desde cero aplicaciones y páginas de aterrizaje optimizadas para SEO, maximizando así el impacto digital de mis clientes.</p>
    <p>
      Mi experiencia previa como analista de siniestros en Zurich me permitió desarrollar habilidades claves para <strong>entender y responder a las necesidades de los clientes, gestionar demandas bajo presión y negociar soluciones de forma efectiva.</strong> Esta experiencia me enseñó la importancia de escuchar y comprender antes de actuar, algo que ahora aplico en cada proyecto de desarrollo en el que participo. 
    </p>
    <p>Soy apasionado, dedicado y en constante búsqueda de aprendizaje. Me considero adaptable y orientado a resolver problemas , cualidades que me motivan a enfrentar cada reto profesional con entusiasmo y a seguir evolucionando en un campo tan dinámico y cambiante como el desarrollo de software.</p>
  </div>

  <img
    width="200"
    height="200"
    src="/santi.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/10 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
