---
const personalImageAlt = "Santiago Sordi";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-opacity-70 text-gray-100 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-sky-600 dark:[&>p>strong]:text-sky-100[&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Santiago. Inicié en el mundo de la programación en el 2022. Estoy en constante capacitación, aprendiendo nuevas formas de optimizar mi código.
      <strong
        >Aporté mis habilidades en una StartUp innovadora</strong>, donde contribuí al diseño y la implementación de interfaces de usuario. Adquirí experiencia en el uso de diversas tecnologías y herramientas que me permitieron mejorar mis habilidades y mantenerme al día con las tendencias actuales en el desarrollo front-end.
    </p>
    <p>
      He realizado proyectos freelance de aplicaciones con
      éxito, manejando todas las etapas del ciclo de vida de la app, desde la planificación hasta la implementación y el mantenimiento. <strong>
        Colaboré en bootcamps dando charlas sobre nuevos herramientas de trabajo</strong>, compartiendo mi conocimiento con otros desarrolladores. Soy un creyente que ayudando a otros es la forma más rápida de crecer.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/santi.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/10 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
