---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCIE = [

    {
        date: "Abr 2023 - Actualidad",
        title: "Eleven Solution Full Stack Developer",
        description:
            "Colaboré con el equipo de 6 personas para entregar 2 aplicaciones web complejas en 6 meses utilizando metodologías Agile. Contribuí tanto al desarrollo frontend (Next.js, React) como backend (Node.js, Express). Demostré fuertes habilidades de comunicación y resolución de problemas para satisfacer las necesidades del cliente y superar desafíos. Gestioné eficazmente el tiempo y prioricé tareas para entregar proyectos a tiempo y dentro del presupuesto.",
    },
    {
        date: " Mar 2022 - Abr 2023",
        title: "Proyectos Freelance",
        description:
            "Optimicé los sitios web para mejorar el rendimiento y la experiencia del usuario, lo que resultó en un aumento de las conversiones y la satisfacción del cliente. Consensue de los clientes para comprender sus objetivos comerciales únicos y entregar soluciones web personalizadas que superaron sus expectativas.",
    },
    {
        date: "May 2013 - Feb 2023",
        title: "Zurich Compañia de seguros - Analista de siniestros",
        description:
            "Gestioné con éxito reclamos complejos que involucraba a múltiples partes y consideraciones legales. Demostré fuertes habilidades de resolución de problemas al analizar exhaustivamente el caso, identificar los problemas clave y colaborar con expertos legales para desarrollar un enfoque estratégico. A través de una comunicación efectiva con el cliente, aseguré la transparencia y proporcioné actualizaciones oportunas, fomentando la confianza y la satisfacción. Contribuí al desempeño financiero general de la organización asegurando una gestión de las existencias y reservas de los casos.",
    }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experiencie} />
            </li>
        ))
    }
</ol>
