---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCIE = [
    {
        date: 'Marzo 2023',
        title: 'DataGuara Desarrollador web',
        description:'Desarrollo de aplicaciones web responsive, utilizando HTML, CSS, JavaScript, Bootstrap, Tailwind y ReactJS. Competencia en la creación de APIs RESTful para aplicaciones de Ciencia de Datos. Diseño y desarrollo avanzado de interfaces de usuario (UI) para aplicaciones de minería de datos con Node.js. Experiencia en Git para control de versiones y Docker para la contenerización.',

    
    },
    {
        date: ' Enero 2023',
        title: 'Proyectos Freelance',
        description:'Desarrollo de aplicaciones web (E-Commerce) y landing pages.',

    
    },
     {
        date: 'Mayo 2013 - Marzo 2023',
        title: 'Zurich compañia de seguros',
        description:'Evaluación de la integridad en reclamaciones de seguros automotor. Pago a proveedores, reintegro a asegurados. Seguimiento, control y cierre de los casos asignados.'
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">                  
    {
        EXPERIENCIE.map(experiencie => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experiencie}/>
            </li>
        ))
    }
</ol>


