---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCIE = [

    {
        date: "Abr 2023 - Actualidad",
        title: "Eleven Solution Full Stack Developer",
        description:
            "Desarrollo de aplicaciones web responsive, NextJS, ReactJS, Bootstrap yTailwind. Competencia en la creación de APIs RESTful NodeJS. Diseño y desarrollo avanzado de interfaces de usuario. Experiencia en Git para control de versiones y Docker para la contenerización.",
    },
    {
        date: " Mar 2022 - Abr 2023",
        title: "Proyectos Freelance",
        description:
            "Desarrollé aplicaciones web a medida para empresas, mejorando su eficiencia y rendimiento. Creé landing pages que generaron más de leads para mis clientes. Implementé estrategias de SEO para aumentar el tráfico",
    },
    {
        date: "May 2013 - Feb 2023",
        title: "Zurich Compañia de seguros - Analista de siniestros",
        description:
            "Análisis técnico de cobertura y tramitación sobre vida del siniestro. Atención al público (cliente, productor, organizador y proveedores. Control de stock, control y ajustes de reservas.",
    }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experiencie} />
            </li>
        ))
    }
</ol>
