---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCIE = [
    {
        date: " Dic 2023 - Actualidad",
        title: "Proyectos Freelance",
        description:
            "Desarrollé aplicaciones web a medida para empresas, mejorando su eficiencia y rendimiento. Creé landing pages que generaron más de leads para mis clientes. Implementé estrategias de SEO para aumentar el tráfico",
    },
    {
        date: "May 2023 - Dic 2023",
        title: "DataGuara Fullstack",
        description:
            "Diseñé y desarrollé aplicaciones web modernas utilizando JavaScript, ReactJS y NodeJS. Implementé API RESTful que optimizó la eficiencia y escalabilidad de la aplicación. Creé una interfaz de usuario intuitiva y receptiva que mejoró la experiencia del usuario.",
    },
    {
        date: "Dic 2022 - May 2023",
        title: "San Cristobal Seguros - Frontend",
        description:
            "Desarrollador frontend portal productores, reactJS. Utilizando metodología agile. ",
    }, 
    {
        date: "May 2013 - Dic 2022",
        title: "Zurich Compañia de seguros - Analista de siniestros",
        description:
            "Análisis técnico de cobertura y tramitación sobre vida del siniestro. Atención al público (cliente, productor, organizador y proveedores. Control de stock, control y ajustes de reservas.",
    }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experiencie} />
            </li>
        ))
    }
</ol>
