---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCIE = [
    {
        date: " Dic 2023 - Actualidad",
        title: "Proyectos Freelance",
        description:
            "Desarrollo de aplicaciones web y landing pages.",
    },
    {
        date: "Mayo - Dic 2023",
        title: "DataGuara Desarrollador web",
        description:
            "Desarrollo de aplicaciones web responsive. Competencia en la creaci칩n de APIs RESTful NodeJS. Experiencia en Git para control de versiones y Docker para la contenerizaci칩n.",
    },
    {
        date: "Mayo 2013 - Dic 2022",
        title: "Zurich compa침ia de seguros",
        description:
            "Evaluaci칩n de la integridad en reclamaciones de seguros automotor. Control de stock y reservas. Pago a proveedores. Seguimiento, control y cierre de los casos asignados.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="mb-10 ms-4">
                <ExperienceItems {...experiencie} />
            </li>
        ))
    }
</ol>
