---
const navItems = [
    {
        title: "Experiencia",
        label: "experiencia",
        url: "/#experiencia"
    }, 
    {
        title: "Proyectos",
        label: "experiencia",
        url: "/#experiencia"
    },
    {
        title: "Sobre mi",
        label: "sobre-mi",
        url: "/#sobre-mi"
    },
    {
        title: "Contacto",
        label: "contacto",
        url: "mailto:santiagosordi@gmail.com"
    },
    

]
---

<header class= " bg-black text-gray-100/90  flex items-center justify-center w-full xl:w-[1120px] md:mx-auto mt-10">
    <nav class="
    flex flex-row flex-wrap gap-x-3 md:gap-x-7 lg:gap-x-10 
    justify-center
    font-semibold
    bg-gradient-to-r from-violet-400 via-violet-500 to-violet-800 
    opacity-80 group border rounded-2xl border-white/30 relative cursor-pointer overflow-hidden whitespace-nowrap px-5 py-3  transition-all duration-300 hover:scale-105 hover:shadow-[0_0_40px_8px_rgba(62,61,117,0.7)]">
        {
            navItems.map((link)=>(
                <a class= "hover:text-violet-950;"
                    aria-label={link.label}
                    href={link.url}>
                        {link.title}
                </a>
            )
        )}
    </nav>
</header>