<header class="fixed top-5 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex flex-row gap-x-10 opacity-80 group border rounded-2xl border-white/30 relative cursor-pointer overflow-hidden whitespace-nowrap px-5 py-3  transition-all duration-300 hover:scale-105 hover:shadow-[0_0_40px_8px_rgba(62,61,117,0.7)]">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/proyect">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>