<header class="flex">
    <img src="../../public/IMG-20221211-WA0071~2.jpg" alt="santi-foto" class="rounded-full w-16  h-16">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/proyect">Poryects</a>
    <a href="/contact">Contact</a>
</header>